body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    border-bottom: 1px solid grey;
}

.logo{
    color: grey;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    text-decoration: none;
}

.navigation-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}

header ul{
    /* list-style: none;
    display: flex;
    gap: 1rem; */
    display: none;
}

header ul a{
    /* text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-size: 14px; */
    display: none;
}

.cart-img{
    width: 20px;
}

.all-cars-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    border-top: 1px grey solid;
    margin-top: 3rem;
}

.car-wrapper{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px grey solid;
    height: 18rem;
    text-decoration: none;
    color: grey;
    transition: 1s;
}

.car-wrapper:nth-child(even){
    border-right: none;
}

.car-wrapper:hover{
    background-color: rgb(233, 231, 231);
}

.car-img{
    width: 70%;
    height: 60%;
    object-fit: contain;
}

.car-model-and-price-wrapper{
    text-align: center;
}

/* car.html styles: */

.specific-car-info-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    height: 36rem;
}

.car-image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26rem;

}

.car-image{
    width: 80%;
}

.specific-car-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    border-top: 1px grey solid;
    height: 26rem;
}

.car-model{
    margin: 0;
    text-transform: uppercase;
}

.car-description{
    text-align: center;
}

.add-to-cart-btn{
    all: unset;
    text-transform: uppercase;
    font-size: 12px;
    background-color: black;
    color: white;
    width: 90%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-top: 1rem;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    header ul{
        display: flex;
        list-style: none;
        gap: 1rem;
    }
    
    header ul a{
        display:initial;
        text-decoration: none;
        color: grey;
        text-transform: uppercase;
        font-size: 14px;
    }

    .all-cars-wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .car-wrapper{
        border-right: 1px grey solid;
        flex-direction: row;
    }

    .car-img{
        width: 60%;
        height: 80%;
    }

    .specific-car-info-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 3rem;
        border-top: 1px grey solid;
        border-bottom: 1px grey solid;
        height: 26rem;
    }

    .specific-car-info{
        border-left: 1px grey solid;
        border-top: none;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 0;
    }

    .add-to-cart-btn{
        width: 60%;
    }
}